body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(181, 176, 176);
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 550px;
    background-color: white;
    /* justify-content: space-between; */

}

.screen {
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: blue;
}

.rows {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    background-color: rgb(103, 192, 228);
}

button {
    width: 75px;
    height: 75px;
    border: 2px solid white;
    border-radius: 50%;
}