body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EED6C4;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 525px;
    background-color: gray;
    justify-content: space-between;
    border: #483434 solid 3px;
}

.screen {
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: #FFF3E4;
    border-bottom: #483434 solid 3px
}

.operations-list {
    width: auto;
    height: 33px;
    background-color: aliceblue;
}

.recent-input {
    width: auto;
    height: 66px;
    background-color: #6B4F4F;
}

.rows {
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 75px;
    height: 75px;
    border: 2px solid #483434;
    background-color: #6B4F4F;
    border-radius: 10%;
}